body {
  background-image: url('http://bit.ly/2oK6wzv');
  background-repeat: no-repeat;
  background-size: cover;
  color: lightblue;
}

a:visited {
  color: orange;
}

a:hover {
  color: green;
}

h2, h5 {
  text-align: center;
}

h3 {
  text-align: center;
}

form {
  text-align: center;
}
#user_answers {
  text-align: center;
}

#enter {
  text-align: center;

}

p {
  font-style: italic;
}
nav {
  text-align: center;
}
